.NavbarMain{
    background-color: #282c72;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 12px;

}
.NavbarMain h2{
    display: ruby;
}
.NavbarMain .NavbarSpacer{
    width: var(--stretch);
}
.NavbarMain h3{
    margin: 2em;
}
.NavbarMain .card{
    margin: 1em;
}
.NavbarMain .Clock{
    display: flex;
    align-items: center;
    width: 50% !important;
}
.NavbarMain .p-inputnumber{
    height: 3em !important;
}
.NavbarMain .p-inputnumber-input{
    width: 3em;
}